$yellow: #FFE600
$black: #333333
$gray: #999999
$gray-soft: #EEEEEE
$white: #FFFFFF
$sizeParagraph: 18px
$sizeTitle: 24px
$sizeSmall: 12px
$sizeBreadbrumb: 14px
$marginBig: 32px
$marginSmall: 16px
$imgSize: 180px

@mixin container
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 1rem